.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll

*.o
*.a
inst/doc
docs
src/sundials/
src/sundials-src/
src/sundials-build/
src/Makevars
inst/lib/cmake/
inst/lib/*.a
autom4te.cache
config.log
config.status
.positai
CLAUDE.md
dev/
